.cardListContainer {
  overflow-x: scroll;
  height: 100%;
  scrollbar-width: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; /* Prevents cards from wrapping */
  gap: 20px; /* Space between cards */
  scroll-behavior: smooth;
  padding-top: 20px;
 
}

.cardListContainer::-webkit-scrollbar {
  display: none; /* Hide scrollbar on WebKit browsers */
}
