.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  width: 100vw;
}

.login-box {
  padding: 10px;
  background-color: #2d3748; /* bg-gray-800 */
  border-radius: 10px;
}

.login-header {
  margin-bottom: 16px; /* 4 x 4 */
  font-size: 1.25rem; /* text-xl */
  font-weight: 700; /* font-bold */
  text-align: center;
  color: #ffffff; /* text-white */
}

.login-input {
  background-color: #4a5568; /* bg-gray-600 */
  margin-bottom: 16px; /* 4 x 4 */
  padding: 8px; /* px-2 py-2 */
  width: 100%;
  max-width: 20em; /* lg:w-[20em] */
  border-radius: 0.5rem; /* rounded-lg */
  color: #ffffff; /* text-white */
  placeholder-color: #e2e8f0; /* placeholder:text-gray-200 */
  outline: none;
}

.error-message {
  color: red;
}

.login-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 12px; /* 3 x 4 */
}

.login-button {
  width: 20%;
  padding: 8px; /* px-2 py-2 */
  font-weight: 700; /* font-bold */
  border-radius: 0.5rem; /* rounded-lg */
  cursor: pointer;
}

.login-button.enabled {
  background-color: red; /* yellow */
  color: #000000; /* black */
}

.login-button.disabled {
  background-color: #808080; /* gray */
  color: #000000; /* black */
}

.signup-link {
  color: #ffffff; /* text-white */
}

.signup-link-text {
  font-weight: 700; /* font-bold */
  color: red; /* text-yellow-500 */
}