.card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y:auto;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  cursor: pointer;
 
}
.iconContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically in the center */
}

.bookmark {
  font-size: 42px; /* Adjust the size as needed */
  color: rgb(81, 255, 0); /* Change color as needed */
  border-radius: 50%;
  padding: 5px; /* Optional: Add some padding */
  cursor: pointer; /* Change cursor on hover */
}

.bookmark:hover {
  color: red;
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-img-top {

  object-fit:fill; /* Cover the area of the parent container */
}

.cardbody {
  padding-left: .55rem;
  height: 40%;
}

.cardTitle {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  font-weight: bold;
  color: white;
}

.cardText {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: white;
}
