.card {
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y:auto;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.card-img-top {

  object-fit: cover; /* Cover the area of the parent container */
}

.cardbody {
  padding-left: .55rem;
  height: 40%;
}

.cardTitle {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  font-weight: bold;
}

.cardText {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: white;
}